.plan-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    padding-top: 5vh;
    margin: 0 auto;
  
    h1 {
      color: #091133;
      font-size: 36px;
      font-weight: 500;
      line-height: 48px;
      word-wrap: break-word;
    }
  
    p {
      color: #6F7CB2;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      word-wrap: break-word;
    }

    .adjust-text-footer-plan{
      margin-top: 8vh;
      text-decoration: underline;
      word-wrap: break-word
    }
  
    .plans {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 6vh;
      gap: 4vw;
  
      .plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #F3F6FF;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 15vw;
        min-height: 50vh;
  
        .adjust-text{
            margin-top: 2vh;
        }

        .text-plan{
            color: #091133;
            margin-bottom: 0vh;
            letter-spacing: 0.5vw;
            text-align: center;
            font-size: 30px;
            margin-left: 1vw;
        }

        .text-plan-basic{
            color: #ffbd59;
            margin-bottom: 2vh;
            text-align: center;
            font-size: 26px;
        }

        .text-plan-premium{
            color: #7ed957;
            margin-bottom: 2vh;
            text-align: center;
            font-size: 26px;
        }

        .text-plan-elite{
            color: #004aad;
            margin-bottom: 2vh;
            text-align: center;
            font-size: 26px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-top: 2vh;
            margin-bottom: 0;
        }
          
        li {
            margin-bottom: 8px;
            color: #37447E;
            font-weight: 400;
            word-wrap: break-word
        }
  
        .price {
            font-size: 20px;
            color: #222222;
            font-weight: 400;
            word-wrap: break-word;
            font-weight: bold;
            margin: 5vh 0vw 2vh -7vw;
        }
  
        button {
          margin-top: auto;
          margin-bottom: 3vh;
          width: 70%;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          color: white;
          cursor: pointer;
        }

        .color-alter{
            background-color: #091133;
        }

        .color-current{
            background-color: #471411;
        }
      }
    }
  
  }