@import 'src/styles.scss';

.container {
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  flex: 1;

  &-secundario{
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 13vw;
    align-content: center;

    &-button{
      display: flex;
      justify-content: flex-end;
      margin-top: 2vw;
    }
  }

  &-plano{
    height: 100vh;
    display: grid;
  }
  
}

.container__caixa {
  margin: 0 6vw;
  padding-top: 7vw;
}

.container__titulo-principal {
  &-azul, &-branco {
    display: block;
    font-size: min(5vw, 100px);
    font-weight: 900;
  }

  &-azul {
    color: $primary-color-font;
  }

  &-branco {
    color: $secondary-color-font;
  }
}

.container__subtitulo-principal {
  font-size: min(1.5vw, 28px); 
  font-weight: 600;
  color: $secondary-color-font;
  margin: 1vw 0 2vw;
}

.button-gradiente {
  border: none;
  text-decoration: none;
  color: $secondary-color-font;
  font-weight: 600;
  font-size: min(1.5vw, 28px);
}

.container__titulo-secundario {
  font-size: min(4vw, 64px);
  font-weight: 900;
  color: $primary-color-font;
  margin-bottom: 2vw;
}

.container__subtitulo-secundario, .container__subtitulo-plano{
  font-size: min(1.875vw, 27px);
  font-weight: 600;
  color: $tertiary-color-font;
  text-align: justify;
}

.container__subtitulo-plano{
  padding: 0vw 28vw;
  text-align: center;
}

.container__features{
  margin-top: 2vw;

  &-item {
    display: flex;
    margin-bottom: 1.5vw;
  }

  &-titulo{
    font-size: min(1.042vw, 20px);
    font-weight: 900;
    color: $primary-color-font;
  }

  &-subtitulo{
    font-size: min(1.042vw, 20px);
    font-weight: 600;
    color: $tertiary-color-font;
    padding-top: 0.3vw;
  }
}

.container__image{
  &-rocket{
    width: 80%;
    justify-self: center;
  }
  &-markers{
    width: 7%;
    padding-right: 1.5vw;
  }
  &-secundario{
    width: 85%;
    justify-self: center;
  }
  &-plan{
    width: 85%;
  }
}

.img-esquerda{
  padding-right: 20vh;
}

.img-direita{
  padding-left: 20vh;
}

.container-plano {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;

  &__plans{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Para responsividade */
    gap: 4vw;
    width: 100%;
    margin-top: 6vh;

  }
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0e1fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0vw 1vw 1vw 1vw;
  // width: 100%;
  max-width: 31vh;
  // min-height: 50vh;

  &-title {
    color: #091133;
    margin-bottom: 0vh;
    letter-spacing: 0.5vw;
    text-align: center;
    font-size: min(1.563vw, 30px);
    margin-left: 1vw;
  }
  
  &-price {
    font-size: min(1.042vw, 20px);
    color: #222222;
    font-weight: 400;
    word-wrap: break-word;
    font-weight: bold;
    margin-bottom: 1vw;
    padding-right: 7vw;
  }

  &-features {
    margin: 0vw 1.5vw;
  }

  &-buttons {
    margin: 2vw 0vw;
  }

  &-color-alter{
    background-color: #091133;
  }

  &-color-current{
    background-color: #471411;
  }

  &-footer{
    margin-top: 3vw;
    text-decoration: underline;
    font-size: min(1.406vw, 27px);
    font-weight: 300;
    cursor: pointer; 
  }

}
