@import 'src/styles.scss';

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__caixa {
  margin: 0 6vw;
  padding-top: 7vw;
}

.container__titulo {
  &__azul, &__branco {
    display: block;
    font-size: min(5vw, 100px);
    font-weight: 900;
  }

  &__azul {
    color: $primary-color-font;
  }

  &__branco {
    color: $secondary-color-font;
  }
}

.container__subtitulo {
  font-size: min(1.5vw, 28px); 
  font-weight: 600;
  color: $secondary-color-font;
  margin: 1vw 0 2vw;
}

.button-gradiente {
  border: none;
  text-decoration: none;
  color: $secondary-color-font;
  font-weight: 600;
  font-size: min(1.5vw, 28px);
}

.container__image{
  width: 98%;
}
