<div class="align-content">
  <div class="start-container">
    <div class="content">
      <h1>Domine suas Despesas com Centavo Certo!</h1>
      <p>
        Transforme a maneira como você gerencia suas finanças pessoais. Com o Centavo Certo, você não apenas registra seus gastos, mas também os compreende em profundidade. Descubra padrões, identifique hábitos e tome decisões mais informadas com nossas visualizações interativas e insights de BI. Comece hoje e veja seus centavos de uma perspectiva totalmente nova. 
        <span (click)="scrollToTop()" routerLink="plans">Experimente grátis por 7 dias!</span>
      </p>
      <div class="buttons">
        <button class="btn-primary" (click)="scrollToTop()" routerLink="plans">Saiba Mais</button>
        <button routerLink="login" routerLinkActive="selected" class="btn-secondary">Acessar Conta</button>
      </div>
    </div>
  </div>
  
  <div class="start-container">
    <div class="align-texts-column">
      <div class="content-2">
        <h1>Fácil, Rápido & Poderoso!</h1>
        <p>
          Com o Centavo Certo, você não perde tempo. O registro é instantâneo, a interface é intuitiva e cada recurso foi desenhado para máxima eficiência. Gerencie suas finanças no ritmo da vida moderna.
        </p>
      </div>
      <div class="align-suggestions" >
        <div class="suggestions">
          <img src="/assets/icon-1.svg" alt="icon" class="icon">
          <h1>Simplicidade Primeiro</h1>
          <p>
            Uma interface amigável para todos. Comece sem complicações.
          </p>
        </div>
        <div class="suggestions">
          <img src="/assets/icon-1.svg" alt="icon" class="icon">
          <h1>Velocidade que Surpreende</h1>
          <p>
            Registro imediato. Ação rápida. Resultados instantâneos.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="start-container">
    <div class="content-3">
      <h1>Estamos Aqui para Você</h1>
      <p>
        Entendemos que gerenciar finanças pode ser um processo complexo e, às vezes, desafiador. É por isso que nossa dedicada equipe de suporte está sempre pronta para ajudá-lo. Seja uma dúvida sobre a plataforma ou uma solicitação específica, estamos comprometidos em responder todos os e-mails em até 48 horas durante dias úteis. Sua satisfação é nossa prioridade, e estamos aqui para garantir que sua experiência com o Centavo Certo seja excepcional.
      </p>
    </div>
  </div>
  
  <div class="start-container">
    <div class="content-3">
      <h1>Registro Personalizado de Despesas</h1>
      <p>
        No dia a dia, as despesas podem se acumular e, às vezes, é difícil lembrar quem fez qual compra. Com o Centavo Certo, nós simplificamos isso para você. Ao registrar uma despesa, você pode facilmente atribuí-la a alguém específico, seja você, um amigo, ou até mesmo seu namorado. Isso proporciona uma clareza adicional sobre os gastos e ajuda a manter um controle mais preciso. Nunca mais se pergunte de quem foi aquela compra - com o Centavo Certo, você sempre saberá.
      </p>
    </div>
  </div>
  
  <div class="start-container">
    <div class="content-3">
      <h1>Acessibilidade e Facilidade</h1>
      <p>
        No mundo moderno, a flexibilidade é essencial. Sabendo disso, projetamos o Centavo Certo para ser acessível e fácil de usar, independentemente de onde você estiver. Seja no conforto de sua casa, no trabalho ou em trânsito, nossa plataforma web está sempre disponível para você. Com uma interface intuitiva e design responsivo, você pode gerenciar suas finanças com facilidade, usando qualquer dispositivo. Junte-se a nós e descubra a liberdade de ter o controle financeiro ao alcance de suas mãos, a qualquer momento.
      </p>
      <div class="buttons">
        <button class="btn-primary" (click)="scrollToTop()" routerLink="plans">Saiba Mais</button>
      </div>
    </div>
  </div>

  <app-plan-information></app-plan-information>
</div>