
<section class="container">
  <div class="container__caixa">
    <h1>
      <span class="container__titulo-principal-azul">Centavo</span> 
      <span class="container__titulo-principal-branco">Certo</span>
    </h1>
    <p class="container__subtitulo-principal">Descubra padrões, identifique hábitos e tome decisões mais informadas com nossas visualizações interativas e insights de BI.</p>
    <a href="#planos" class="button-gradiente" role="button" aria-label="Veja nossos planos">Saiba Mais</a>
  </div>
  <img class="container__image-rocket" src="/assets/rocket-home.svg" alt="Ilustração de um foguete, representando inovação e crescimento">
</section>

<section class="container-secundario">
  <div>
    <h1 class="container__titulo-secundario">Fácil, Rápido & Poderoso!</h1>
    <p class="container__subtitulo-secundario">Com o Centavo Certo, você não perde tempo. O registro é instantâneo, a interface é intuitiva e cada recurso foi desenhado para máxima eficiência. Gerencie suas finanças no ritmo da vida moderna.</p>
    <div class="container__features">
      <div class="container__features-item">
        <img class="container__image-markers" src="/assets/icon-markers.svg" alt="Ícone de simplicidade" />
        <div>
          <h2 class="container__features-titulo">Simplicidade Primeiro</h2>
          <p class="container__features-subtitulo">Uma interface amigável para todos. Comece sem complicações.</p>
        </div>
      </div>
      
      <div class="container__features-item">
        <img class="container__image-markers" src="/assets/icon-markers.svg" alt="Ícone de velocidade" />
        <div>
          <h2 class="container__features-titulo">Velocidade que Surpreende</h2>
          <p class="container__features-subtitulo">Registro imediato. Ação rápida. Resultados instantâneos.</p>
        </div>
      </div>
    </div>
  </div>
  <img class="container__image-secundario" src="/assets/checklist-home.svg" alt="Celular com Itens de uma lista">
</section>

<section class="container-secundario">
  <img class="container__image-secundario" src="/assets/highfive-home.svg" alt="Duas mão batendo uma na outra">
  <div>
    <h1 class="container__titulo-secundario">Estamos Aqui para Você</h1>
    <p class="container__subtitulo-secundario">Entendemos que gerenciar finanças pode ser um processo complexo e, às vezes, desafiador. É por isso que nossa dedicada equipe de suporte está sempre pronta para ajudá-lo. Seja uma dúvida sobre a plataforma ou uma solicitação específica, estamos comprometidos em responder todos os e-mails em até 48 horas durante dias úteis. Sua satisfação é nossa prioridade, e estamos aqui para garantir que sua experiência com o Centavo Certo seja excepcional.</p>
  </div>
</section>

<section class="container-secundario">
  <img class="container__image-secundario" src="/assets/coinpiggy-home.svg" alt="Uma mão colocando moedas num cofrinho">
  <div>
    <h1 class="container__titulo-secundario">Registro Personalizado de Despesas</h1>
    <p class="container__subtitulo-secundario">No dia a dia, as despesas podem se acumular e, às vezes, é difícil lembrar quem fez qual compra. Com o Centavo Certo, nós simplificamos isso para você. Ao registrar uma despesa, você pode facilmente atribuí-la a alguém específico, seja você, um amigo, ou até mesmo seu namorado. Isso proporciona uma clareza adicional sobre os gastos e ajuda a manter um controle mais preciso. Nunca mais se pergunte de quem foi aquela compra - com o Centavo Certo, você sempre saberá.</p>
  </div>
</section>

<section class="container-secundario">
  <img class="container__image-secundario" src="/assets/assessment-home.svg" alt="Uma mão com um celular realizando uma avaliação">
  <div>
    <h1 class="container__titulo-secundario">Acessibilidade e Facilidade</h1>
    <p class="container__subtitulo-secundario">No mundo moderno, a flexibilidade é essencial. Sabendo disso, projetamos o Centavo Certo para ser acessível e fácil de usar, independentemente de onde você estiver. Seja no conforto de sua casa, no trabalho ou em trânsito, nossa plataforma web está sempre disponível para você. Com uma interface intuitiva e design responsivo, você pode gerenciar suas finanças com facilidade, usando qualquer dispositivo. Junte-se a nós e descubra a liberdade de ter o controle financeiro ao alcance de suas mãos, a qualquer momento.</p>
    <div class="container-secundario-button">
      <a href="#planos" class="button-gradiente" role="button" aria-label="Veja nossos planos">Saiba Mais</a>
    </div>
  </div>
</section>

<section class="container-plano" id="planos">
  <h1 class="container__titulo-secundario">Confira Nossos Planos de Adesão</h1>
  <p class="container__subtitulo-plano">
    Organize suas despesas de uma forma fácil, rápida e dinâmica. Consiga fazer análises em instantes sobre seus gastos e tenha uma melhor vida financeira.
  </p>

  <div class="container-plano__plans">
    <div class="plan">
      <img class="container__image-plan" src="/assets/icon-basic-home.svg" alt="Plano Básico">
      <p class="plan-price">R$4,90/mês</p>
      <ul class="plan-features">
        <li>Interface amigável e fácil de usar.</li>
        <li>Dicas semanais de economia via e-mail.</li>
        <li>Suporte por e-mail em até 48 horas.</li>
        <li>Análise Limitada oferece insights básicos e essenciais.</li>
      </ul>
      <div class="plan-buttons">
        <button class="button-gradiente color-alter" *ngIf="isLoggedIn && userPlan !== 'Plano Básico'" >Alterar Plano</button>
        <button class="button-gradiente color-current" *ngIf="isLoggedIn && userPlan === 'Plano Básico'" >Plano Atual</button>
        <button class="button-gradiente color-alter" *ngIf="!isLoggedIn" routerLink="plans" (click)="scrollToTop()" >Adquira Agora</button>
      </div>
    </div>

    <div class="plan">
      <img class="container__image-plan" src="/assets/icon-premium-home.svg" alt="Plano Básico">
      <p class="plan-price">R$9,90/mês</p>
      <ul class="plan-features">
        <li>Mesmos benefícios do Plano Básico.</li>
        <li>Exportação de dados limitada a 3 vezes por mês.</li>
        <li>Exportação de dados em formatos Excel.</li>
        <li>Recomendações de leitura sobre educação financeira.</li>
      </ul>
      <div class="plan-buttons">
        <button class="button-gradiente color-alter" *ngIf="isLoggedIn && userPlan !== 'Plano Premium'" >Alterar Plano</button>
        <button class="button-gradiente color-current" *ngIf="isLoggedIn && userPlan === 'Plano Premium'" >Plano Atual</button>
        <button class="button-gradiente color-alter" *ngIf="!isLoggedIn" routerLink="plans" (click)="scrollToTop()" >Adquira Agora</button>
      </div>
    </div>

    <div class="plan">
      <img class="container__image-plan" src="/assets/icon-elite-home.svg" alt="Plano Básico">
      <p class="plan-price">R$14,90/mês</p>
      <ul class="plan-features">
        <li>Mesmos benefícios do Plano Premium.</li>
        <li>Exportação de dados ilimitada por mês.</li>
        <li>Exportação de dados em formatos CSV e Excel.</li>
        <li>Acesso à comunidade online básica do "Centavo Certo".</li>
      </ul>
      <div class="plan-buttons">
        <button class="button-gradiente color-alter" *ngIf="isLoggedIn && userPlan !== 'Plano Elite'" >Alterar Plano</button>
        <button class="button-gradiente color-current" *ngIf="isLoggedIn && userPlan === 'Plano Elite'" >Plano Atual</button>
        <button class="button-gradiente color-alter" *ngIf="!isLoggedIn" routerLink="plans" (click)="scrollToTop()" >Adquira Agora</button>
      </div>
    </div>
  </div>  

  <p *ngIf="!isLoggedIn" class="plan-footer" routerLink="plans" (click)="scrollToTop()">Aproveite os Benefícios do Plano Básico de Graça por 7 Dias!</p>
</section>