@import 'src/styles.scss';

.container{
    display: flex;
    flex-direction: column;
    // overflow-x: hidden;
}

.margin-left{
    margin-left: 12vh;
    // margin-right: 2%;
}

.container main {
    flex: 1 1 0;
    border: 0;
}

app-sidebar{
    position: fixed;
    z-index: 90000;
}