@import 'src/styles.scss';

.align-content{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.start-container {
  display: flex;
  margin: 4%;

  .content{
    padding-left: 2%;

    h1 {
      font-size: min(3.125vw, 60px);
      color: $primary-color-font;
      font-weight: 700;
    }

    p {
        font-size: min(1.146vw, 22px);
        color: $tertiary-color-font;
        font-weight: 600;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 1rem;
    }
  }

.content__linkedin{
  display: flex;
  text-align: center;
  margin-top: 3rem;
}

.content__image{
  width: 85%;
}
}