<div class="align-content">
  <div class="start-container">
    <img src="/assets/about-us.svg" alt="Desenho dos criadores com o nome Centavo Certo">
    <div class="content">
      <h1>Sobre</h1>
      <p>No coração do Centavo Certo estão dois entusiastas da tecnologia e inovação: João Tenório e Romildo Feliciano. Nossas trajetórias se cruzaram em 2018 na Universidade de Fortaleza, onde ambos cursávamos Ciências da Computação. Durante nossos estudos e conversas nos corredores, percebemos um desafio comum entre nossos colegas universitários: a transição da vida escolar para a vida adulta frequentemente vinha acompanhada de uma série de responsabilidades financeiras para as quais muitos não estavam preparados.</p>
      <p>Nossa observação revelou um problema mais profundo. Muitos jovens ingressam na universidade e, em meio à empolgação de uma nova fase da vida, encontram-se em um turbilhão de gastos e responsabilidades. Seja lidando com programas de financiamento estudantil como o FIES, gerenciando despesas com transporte e alimentação, equilibrando trabalho e estudos, assumindo compromissos financeiros como financiamentos de carros, motos ou apartamentos, ou até mesmo navegando pelos custos associados a festas, relacionamentos e outras experiências universitárias, a carga é imensa.</p>
      <p>Reconhecendo a necessidade de uma ferramenta que ajudasse principalmente os universitários a gerenciar essa complexa teia financeira, nasceu o Centavo Certo. Criado com o objetivo de oferecer uma solução intuitiva, eficaz e adaptada às particularidades da vida universitária, nosso sistema busca empoderar os jovens a assumir o controle de suas finanças e fazer escolhas informadas.</p>
      <div class="content__linkedin">
        <a href="https://www.linkedin.com/in/joaopedrortenorio/" target="_blank"><img class="content__image" src="/assets/profile-about-tenorio.svg" alt="Foto do Tenório com nome de usuário do LinkedIn"></a>
        <a href="https://www.linkedin.com/in/romildo-feliciano/" target="_blank"><img class="content__image" src="/assets/profile-about-feliciano.svg" alt="Foto do Romildo com nome de usuário do LinkedIn"></a>
      </div>
    </div>
  </div>
</div>