<mat-toolbar *ngIf="!isLoggedIn" class="logged-out">
  <div class="toolbar-content">
    
    <div class="nav-links">
      <span (click)="scrollToTop()" routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Início</span>
      <span (click)="scrollToTop()" routerLink="about-us" routerLinkActive="selected" routerLinkActive="selected">Sobre</span>
      <span (click)="scrollToTop()" routerLink="plans" routerLinkActive="selected" routerLinkActive="selected">Planos</span>
    </div>

    <img src="assets/logo-horizontal-centavo-certo.svg" alt="Logo" class="logo">

    <span (click)="scrollToTop()" routerLink="login" routerLinkActive="selected" class="btn-access">Acessar Conta</span>
  </div>
</mat-toolbar>