@import 'src/styles.scss';

.toolbar-content {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  width: max(100px, 12vw);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4% 2% 6%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  color: $secondary-color-font;
  font-weight: 600;
  font-size: max(14px, 1vw);
}

.selected {
  font-weight: bold;
  border-bottom: 4px solid $blue-color-500;
}
