<section class="navbar">
  <a routerLink="/" (click)="scrollToTop()">
    <img class="logo-header" src="assets/logo-horizontal-centavo-certo.svg" alt="Centavo Certo Logo">
  </a>

  <nav>
      <ul>
          <li><a (click)="scrollToTop()" routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Início</a></li>
          <li><a (click)="scrollToTop()" routerLink="about-us" routerLinkActive="selected">Sobre</a></li>
          <li><a (click)="scrollToTop()" routerLink="plans" routerLinkActive="selected">Planos</a></li>
          <li><a (click)="scrollToTop()" routerLink="login" routerLinkActive="selected" class="button-gradiente">Acessar Conta</a></li>
      </ul>
  </nav>
</section>