@import 'src/styles.scss';

.toolbar-content {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  width: 12vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1vw 3vw;

  background-image: url('/assets/background-wave.svg');
  background-size: cover; /* Isso garantirá que a imagem cubra toda a barra de navegação */
  background-repeat: no-repeat; /* Isso impede que a imagem se repita */
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  color: $white;
  font-weight: 600;
  font-size: 1vw;
}

.selected {
  font-weight: bold;
  border-bottom: 4px solid $blue-color-500;
}

.button-gradiente {
  text-align: center;
  font-weight: 700 !important;

  border-radius: 0.5vw; 
  padding: 0.5vw 1.25vw;
  background-image: linear-gradient(to right, $primary-color, $secondary-color); 
  
  cursor: pointer; 
  box-shadow: 0 4px 8px #00000033; /* sombra leve para profundidade */
  transition: box-shadow 0.2s; /* transição suave para efeitos de hover */
}

.button-gradiente:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* sombra mais intensa para efeito ao passar o mouse */
}
