<div class="content">
    <app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>
    <app-plan-information></app-plan-information>
  
    <div class="contact-card-container">
      <mat-card class="contact-card">
        <mat-card-header>
          <mat-card-title>
            <h2>Entre em Contato Conosco</h2>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <p>Estamos aqui para ajudar a tornar a sua vida financeira mais simples e clara. Se você tem dúvidas, sugestões ou precisa de suporte, não hesite em nos enviar um e-mail. Queremos ouvir o que você tem a dizer! Nosso time de especialistas está pronto para oferecer as soluções que você precisa.</p>
          <span>Contato: </span> <a>contato@centavocerto.com</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>