@import 'src/styles.scss';

.align-dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjusts-filters{
  // padding: 20px;
  border-bottom: 1px #111B47 solid;
  align-self: stretch;
  // margin: 2vh;
}

.dash-inputs{
  display: flex;
  flex-wrap: wrap; /* Adicionado para responsividade */
  gap: 5px; /* Espaço entre os campos */
  justify-content: space-between; /* Espaçamento igual entre os itens */
}

.dash-titulo{
  font-size: min(1.979vw, 38px);
  color: #000000CC;
  font-weight: 500;
  margin-bottom: 2vh;
}

.dash-subtitulo{
  font-size: min(0.938vw, 18px);
  color: $primary-color-font;
  font-weight: 500;
  margin-bottom: 0.5vh;
}

.align-label-input{
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 23vh; /* Ajustado para ocupar o espaço disponível */
  margin-bottom: 10px; /* Espaço abaixo de cada campo */
}

.card-background-kpi{
  border: none;
  background-color: #ffffff;
  border-radius: 24px !important;
  box-shadow: 0px 8px 24px rgba(85, 90, 95, 0.2) !important;
  margin: 2vh 3vh;
  overflow: hidden;
  padding: 30px;
  width: 32vh;
  height: 10vh;
  
  &-img{
    padding: 0px 24px 24px 0px;
    font-size: min(1.979vw, 55px);
    color: $primary-color-font;
    margin-right: 2vh;
  }
}

.card-background-kpi-destaque{
  border: none;
  background-image: linear-gradient(to left, $primary-color-gradient, $secondary-color-gradient); ;
  border-radius: 24px !important;
  box-shadow: 0px 8px 24px rgba(85, 90, 95, 0.2) !important;
  margin: 2vh 3vh;
  overflow: hidden;
  padding: 30px;
  width: 32vh;
  height: 10vh;
  
  &-img{
    padding: 0px 24px 24px 0px;
    font-size: min(1.979vw, 55px);
    color: $secondary-color-font;
    margin-right: 2vh;
  }
}

.title-card{
  font-size: min(1.042vw, 20px);
  color: #000000;
  font-weight: 500;
  text-align: center;
  padding: 8px 18px 4px 4px;
  flex-grow: 1; /* Faz o título ocupar todo o espaço disponível */
}

.destaque{
  color: $secondary-color-font !important;
}

.value-card{
  font-size: min(2.083vw, 40px);
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.card-align{
  display: flex;
  align-items: center; /* Adicionado para alinhar verticalmente */
}

.card-background{
  border: none;
  background-color: #ffffff;
  border-radius: 8px !important;
  box-shadow: 0px 8px 24px rgba(85, 90, 95, 0.2) !important;
  margin-top: 1%;
  overflow: hidden;
  padding: 33px;
  padding-bottom: 9vh;
}

.margin-chart {
  margin-bottom: 2vh;
  place-content: center;
}

.align-itens{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 3vh 0 6vh;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white;
}