.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2vh auto;
}

.input-group {
    display: flex;
    gap: 10px; 
    flex-direction: row; 
    align-items: center; 
}