* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

app-start {
    background-image: url('/assets/background-wave.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

body.app-login,
body.app-register {
    overflow-y: hidden;
}
  

body {
    app-login,
    app-register,
    app-dashboard {
        min-height: 87.4vh;
        background-size: 100%;
        background-image: none !important;
        background-color: #D0E1FA;
        background-attachment: fixed;
    }
    
}

// body app-start app-header,
// body app-about-us app-header {
//     background-color: transparent !important; /* faz o header ser transparente para mostrar o background do body */
// }

@media (max-height: 19999px) {
    app-login {
        min-height: 1000vh;
        // AJUSTAR DEPOIS PELO MONITORES
    }
}


// Definindo cores do projeto
$primary-color-font: #150A62;
$secondary-color-font: #FFFFFF;
$tertiary-color-font: #5A5487;
$primary-color-gradient: #01B8E3;
$secondary-color-gradient: #3E2DB9;

$background-color-header: rgba(225.41, 231.48, 249.69, 0.82);
$background-color: #ffffff;
$blue-color-300: #929ECC; 
$blue-color-400: #6F7CB2; 
$blue-color-500: #505F98; 
$blue-color-800: #111B47;

$title-text: #091133;
$text-color: #505F98; 

$button-primary-bg: #111B47;
$button-secondary-bg: #091133;
$sidenavbar-size: 20%;

.no-visibility .content-cards {
    visibility: hidden;
}

.no-visibility .content-category {
    visibility: hidden;
}

.no-visibility .content-holder {
    visibility: hidden;
}

.no-visibility .sidenav-container {
    visibility: hidden;
}

// .list__icon{
//     display: flex;
//     justify-content: center;
//     list-style-type: none;
//     text-decoration: none;
//     color: $blue-color-300;
// }

.button-gradiente {
    text-align: center;
    font-weight: 700 !important;
  
    border-radius: 0.5vw; 
    padding: 0.5vw 1.25vw;
    background-image: linear-gradient(to right, $primary-color-gradient, $secondary-color-gradient); 
    
    cursor: pointer; 
    box-shadow: 0 4px 8px #00000033; /* sombra leve para profundidade */
    transition: box-shadow 0.2s; /* transição suave para efeitos de hover */
}

.button-gradiente:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* sombra mais intensa para efeito ao passar o mouse */
}
