@import 'src/styles.scss';

.dialog{
    width: 40vw;
    height: 26vh;
    z-index: 1000 !important;
    padding: 5vh;
}

h3  {
    font-size: min(1.823vw, 35px) !important;
    font-weight: 900;
    margin-bottom: 2vh !important;
    color: $primary-color-font;
}

.mat-typography  {
    font-size: min(1.042vw, 20px) !important;
    margin-bottom: 2vh !important;
    padding: 0%;
}

mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;   
}

.button-gradiente,
.button-cancel {
    width: 20%;
    height: 4vh;
    border: none;
    text-decoration: none;
    color: $secondary-color-font;
    font-weight: 600;
    font-size: min(1.25vw, 24px); 
}

.button-cancel{
    color: $primary-color-font;
}