<footer class="footer">
  <div class="footer__content">
    <div class="footer__text" aria-label="Direitos autorais">
      <span>&copy;2024 Centavo Certo</span>
    </div>
    <div class="footer__text-titulo" aria-label="Nome da empresa">
      <span class="footer__text-titulo-azul">Centavo</span> 
      <span class="footer__text-titulo-branco">Certo</span>
    </div>
  </div>
  <div class="footer__separator"></div>
  <div class="footer__content">
    <nav aria-label="Navegação do rodapé">
      <ul class="footer__link__list">
          <li class="list__link"><a (click)="scrollToTop()" routerLink="/" >Início</a></li>
          <li class="list__link"><a (click)="scrollToTop()" routerLink="about-us" >Sobre</a></li>
          <li class="list__link"><a routerLink="/" fragment="planos">Planos</a></li>
      </ul>
   </nav>
    <div class="footer__social">
        <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn">
          <img src="assets/icon-linkedin.svg" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com/" target="_blank" aria-label="LinkedIn">
          <img src="assets/icon-instagram.svg" alt="Instagram">
        </a>
    </div>
  </div>
</footer>