<footer>
  <div class="footer-content">
    <div class="footer-top">
      <span class="footer-text">©2023 CentavoCerto</span>
      <span class="footer-text-2">Centavo Certo</span>
      <span class="footer-btn">Saiba Mais</span>
    </div>
    <!-- <div class="footer-nav-links">
      <span routerLink="/">Início</span>
      <span routerLink="/sobre">Sobre</span>
      <span routerLink="/planos">Planos</span>
    </div>
    <div class="footer-social-links">
      <a href="https://linkedin.com" target="_blank" class="social-link">
        <img src="/assets/linkedin.svg" alt="LinkedIn">
      </a>
      <a href="https://instagram.com" target="_blank" class="social-link">
        <img src="/assets/instagram.svg" alt="Instagram">
      </a>
    </div> -->
  </div>
</footer>