@import 'src/styles.scss';


.footer{
  background-image: url('/assets/background-footer.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  
  text-align: center;
  padding: 2% 4%;
}


.footer__separator{
  border-bottom: 1px solid $secondary-color-font;
  padding-bottom: 1vw;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap; 
}

.footer__text{
  font-size: min(1.042vw, 20px);
  color: $secondary-color-font;
  font-weight: 400;

  &-titulo {
      position: absolute; 
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      &-azul, &-branco {
          font-size: min(2.5vw, 48px);
          font-weight: 900;
      }
      
      &-azul {
          color: $primary-color-font;
      }
      
      &-branco {
          color: $secondary-color-font;
      }
  }
}

.footer__link__list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.list__link a{
  font-size: min(1.042vw, 20px);
  color: $secondary-color-font;
  font-weight: 400;
  text-decoration: none;
  
  &:hover {
    color: $primary-color-font;
  }
}


.footer__social{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 30px;
}